<div class="container">
    <div class="navbar navbar-static-top">
        <div class="navigation">
            <nav>
                <ul class="nav topnav bold">
                    <li class="dropdown active">
                        <span class="menuitem" data-page="home">Home</span>
                    </li>
                    <li class="dropdown">
                        <span class="menuitem" data-page="events">Events</span>
                    </li>
                    <li class="dropdown">
                        <span>YouTube™ <i class="icon-angle-down"></i></span>
                        <ul style="display: none;" class="dropdown-menu bold">
                            <li><span class="menuitem" data-page="youtuberagz">Dancehall & Ting</span></li>
                            <li><span class="menuitem" data-page="youtubesoulchild">Soulchild</span></li>
                            <li><span class="menuitem" data-page="youtubelaughlovefunk">Laugh Love Funk</span></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <span>Podcasts <i class="icon-angle-down"></i></span>
                        <ul class="dropdown-menu bold">
                            <li class="dropdown"><span>DJ Ragz <i class="icon-angle-right"></i></span>
                                <ul style="display: none;" class="dropdown-menu sub-menu-level1 bold">
                                    <li><span class="menuitem" data-page="scinterviews">Interviews</span></li>
                                    <li><span class="menuitem" data-page="mcdancehall">Dance Hall and Ting</span></li>
                                </ul>
                            </li>
                            <li class="dropdown"><span>DJ Sooz <i class="icon-angle-right"></i></span>
                                <ul style="display: none;" class="dropdown-menu sub-menu-level1 bold">
                                    <li><span class="menuitem" data-page="mcsooz">Sooz Grooves</span></li>
                                    <li><span class="menuitem" data-page="scsooz">DJ Sooz</span></li>
                                </ul>
                            </li>
                            <li class="dropdown"><span>DJ Soulchild <i class="icon-angle-right"></i></span>
                                <ul style="display: none;" class="dropdown-menu sub-menu-level1 bold">
                                    <li><span class="menuitem" data-page="mcsoulful">Soulful Living</span></li>
                                    <li><span class="menuitem" data-page="scsoulchild">DJ Soulchild</span></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <span>Social Networks <i class="icon-angle-down"></i></span>
                        <ul style="display: none;" class="dropdown-menu bold">
                            <li><span class="menuitem" data-page="urbansocial">Urban Movement</span></li>
                            <li><span class="menuitem" data-page="soozsocial">Sooz Grooves</span></li>
                            <li><span class="menuitem" data-page="soulchildsocial">SoulChild</span></li>
                            <li><span class="menuitem" data-page="ragzsocial">Ragz</span></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <span>About Us <i class="icon-angle-down"></i></span>
                        <ul style="display: none;" class="dropdown-menu bold">
                            <li><span class="menuitem" data-page="about">Urban Movement</span></li>
                            <li><span class="menuitem" data-page="bios">Biographies</span></li>
                        </ul>
                    </li>
                    <li>
                        <span class="menuitem" data-page="contact">Contact</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

