<div class="container">
    <div class="navbar navbar-static-top">
        <div class="navigation">
            <nav>
                <ul class="nav topnav bold">
                    <li class="dropdown active">
                        <span class="menuitem" data-page="home">Home</span>
                    </li>
                    <li class="dropdown">
                        <span class="menuitem" data-page="events">Events</span>
                    </li>
                    <li class="dropdown">
                        <span>Video <i class="icon-angle-down"></i></span>
                        <ul style="display: none;" class="dropdown-menu bold">
                            <li class="dropdown"><span>YouTube™ <i class="icon-angle-right"></i></span>
                                <ul style="display: none;" class="dropdown-menu sub-menu-level1 bold">
                                    <li><span class="menuitem" data-page="YouTubeRagz">Ragz</span></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <span>Podcasts <i class="icon-angle-down"></i></span>
                        <ul class="dropdown-menu bold">
                            <li><span class="menuitem" data-page="SoundCloudInterviews">Interviews</span></li>
                            <li class="dropdown"><span>Radio Shows <i class="icon-angle-right"></i></span>
                                <ul style="display: none;" class="dropdown-menu sub-menu-level1 bold">
                                    <li><span class="menuitem" data-page="DanceHall">Dance Hall and Ting</span></li>
                                    <li><span class="menuitem" data-page="MixCloudSooz">Sooz Grooves</span></li>
                                    <li><span class="menuitem" data-page="MixCloudSoulful">Soulful Living</span></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <span>About Us <i class="icon-angle-down"></i></span>
                        <ul style="display: none;" class="dropdown-menu bold">
                            <li><span class="menuitem" data-page="ume">Urban Movement</span></li>
                            <li><span class="menuitem" data-page="bios">Biographies</span></li>
                        </ul>
                    </li>
                    <li>
                        <span class="menuitem" data-page="Contact">Contact</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

