<div id="famax" class="float-left" style="width: 53%">
    <div id="famax-header">
        <div id="famax-stat-holder">
            <div class="fb-like" data-href="https://www.facebook.com/urbanmovementents" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
    </div>

</div>
<div style="width: 45%" class="float-right">
    <a class="twitter-timeline" href="https://twitter.com/urbanmovementOZ" data-widget-id="549103376365916162">Tweets by &#64;urbanmovementOZ</a>
</div>
