html
{
    background-color: #969696;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #969696;
    /*border-top: solid 10px #000;*/
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a
{
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover
    {
        color: #333;
    }

    a:hover
    {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section
{
    display: block;
}

mark
{
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.clear-fix:after
{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6
{
    color: whitesmoke;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.75em;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active
    {
        padding: 0;
        text-decoration: none;
    }

.fadebar
{
    width: 90%;
    margin-left: 12px;
    background: no-repeat url(/Images/fadebar.jpg);
    font-size: 3.5em;
    color: whitesmoke;
    margin-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}


/* main layout
----------------------------------------------------------*/
.content-wrapper
{
    margin: 0 auto;
    max-width: 960px;
}

#body
{
    background-color: #969696;
    clear: both;
    padding-bottom: 35px;
}

.main-content
{
    padding-left: 10px;
    padding-top: 10px;
}

.featured + .main-content
{
}

header .content-wrapper
{
    padding-top: 20px;
}

footer
{
    clear: both;
    background-color: #969696;
    font-size: .8em;
    height: 100px;
}

#content .calendar
{
    margin: 2px auto;
    border-width: 0;
    width: 100%;
    height: 98%;
    display: block;
}

#content iframe
{
    margin: 2px auto;
    display: block;
}

/* site title
----------------------------------------------------------*/
.site-title
{
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active
    {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }

/* Logo
----------------------------------------------------------*/
.logo
{
    background: repeat url(/Images/Logo/logo-gradient.png);
    display: block;
    /*padding-top: 3px;
    padding-bottom: 15px;*/
}

/* news ticker*/
.vticker
{
    width: 90%;
}

    .vticker ul
    {
        padding: 0;
        list-style: none;
    }

    .vticker li
    {
        margin: 0;
        padding: 20px;
        display: list-item;
        border-bottom: 1px dashed #ccc;
    }

        .vticker li:after
        {
            content: '';
            display: block;
            clear: both;
        }

    .vticker img
    {
        float: left;
        width: 100px;
        margin: 5px 15px 0 0;
    }

    .vticker a
    {
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: red;
    }

    .vticker p
    {
        margin: 15px 0 0;
        font-size: 14px;
        color: whitesmoke;
    }

/* FaMax */
.famax-showing
{
    color: black;
    font-weight: normal;
}

.famax-duration
{
    background-color: black;
    color: white;
    padding: 2px 3px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.8;
}

#famax-header
{
    background-color: rgb(53,53,53);
    font: 24px Arial;
    color: white;
    line-height: 25px;
    height: 90px;
    text-align: left;
    border: 1px solid rgb(53,53,53);
}

.famax-stat
{
    float: right;
    margin: 10px;
    font: 10px Arial;
    color: #ccc;
    margin-top: 25px;
    text-align: center;
}

#famax-stat-holder
{
    float: right;
    height: 100%;
}

.famax-stat-count
{
    font: 18px Arial;
}

#famax-channel-desc
{
    text-align: left;
}

#famax
{
    background-color: rgb(230,230,230);
    margin: 0px auto;
    font-family: Calibri;
    font-size: 14px;
    text-align: center;
    overflow-x: hidden;
    border: 1px solid #cccccc;
}

.famax-video-tnail, .famax-pic-tnail, .famax-link-tnail
{
    min-height: 50px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.famax-video-tnail-box
{
    width: 94%;
    margin: 3%;
    float: left;
    overflow: hidden;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    cursor: hand;
}

#famax-encloser
{
    padding: 0.5%;
    display: inline-block;
}

.famax-video-list-div
{
    text-align: left;
    display: inline-block;
    background-color: rgb(230,230,230);
    float: left;
}

.famax-video-list-title
{
    color: #438bc5;
    display: inline-block;
    padding: 2% 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.famax-video-list-views
{
    color: #555;
    padding: 1% 10px;
    padding-bottom: 3%;
    display: inline-block;
    font-size: 12px;
}

.famax-playlist-sidebar
{
    background-color: rgba(0,0,0,0.8);
    float: right;
    max-width: 50%;
    height: 100%;
    color: white;
    text-align: center;
}

.famax-playlist-video-count
{
    display: inline-block;
    margin: 3%;
    margin-top: 5%;
    height: 20%;
}

.famax-playlist-sidebar-video
{
    opacity: 1;
    width: 22%;
    height: 50px;
    float: left;
    background-color: rgb(230,230,230);
    display: inline-block;
    margin: 1%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.famax-tab
{
    background-color: rgb(230,230,230);
    color: #666;
    text-shadow: 0 1px 0 #fff;
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    cursor: hand;
}

#famax-tabs
{
    text-align: left;
    background-color: rgb(230,230,230);
    padding-left: 10px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#famax-video-lightbox
{
    opacity: 1;
}

#famax-header a
{
    float: left;
    text-decoration: none;
    color: inherit;
}

#famax-encloser a
{
    font-weight: normal;
    color: #555;
}

#famax-lightbox
{
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#picasa-img-lightbox
{
    opacity: 1;
    max-width: 1000px;
    max-height: 700px;
    z-index: 200;
    cursor: pointer;
    cursor: mouse;
}

#picasa-lightbox-wrapper
{
    height: 100%;
    width: 100%;
    white-space: nowrap;
}

#picasa-lightbox-image
{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    z-index: 120;
}

#picasa-lightbox-helper
{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}


.famax-pic-train
{
    width: 100%;
    border: none;
    display: block;
    margin: 2%;
}

._1y4
{
    height: 26px;
    left: 50%;
    margin: -13px 0 0 -17px;
    position: absolute;
    top: 50%;
    width: 35px;
}

.link-img, .video-img
{
    width: 100%;
}

#load-more
{
    border: 1px solid gainsboro;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #555;
    font: 13px arial,sans-serif;
    font-weight: bold;
    float: left;
    width: 96%;
    margin: 5px 2%;
    cursor: pointer;
    cursor: mouse;
}

.load-more:hover
{
    background-color: rgb(223, 221, 221);
}

.famax-like-wrapper
{
    display: inline-block;
    margin-top: 15px;
}

/* page elements
----------------------------------------------------------*/
/* featured */
.featured
{
    background-color: black;
}

    .featured .content-wrapper
    {
        background-color: black;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

    .featured hgroup.title h1, .featured hgroup.title h2
    {
        color: #fff;
    }

    .featured p
    {
        font-size: 1.1em;
    }

/* page titles */
hgroup.title
{
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2
    {
        display: inline;
    }

    hgroup.title h2
    {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature
{
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round
{
    list-style-type: none;
    padding-left: 0;
}

    ol.round li
    {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero
        {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one
        {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two
        {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three
        {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four
        {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five
        {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six
        {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven
        {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight
        {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine
        {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article
{
    float: left;
    width: 70%;
}

aside
{
    float: right;
    width: 25%;
}

    aside ul
    {
        list-style: none;
        padding: 0;
    }

        aside ul li
        {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label
{
    font-weight: 700;
}

.scrollable
{
    width: 90%;
    overflow-y: auto !important;
    color: whitesmoke;
}

/*.scrollable td:nth-child(1)
    {
        width: 15%;
        text-align: center;
    }


    .scrollable td:nth-child(2)
    {
        width: 55%;
    }

    .scrollable td:nth-child(3)
    {
        font-family: Arial, sans-serif;
        font-size: 15px;
        width: 30%;
    }

    .scrollable p
    {
        padding: 5px 5px 5px 10px;
    }

    .scrollable table
    {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .scrollable tbody
    {
        overflow-y: auto;
        display: block;
    }

    .scrollable td
    {
        padding: 1px;
    }

    .scrollable img
    {
        width: 100px;
        height: 100px;
        padding: 5px;
    }

    .scrollable tr
    {
        border-bottom: dashed 1px whitesmoke;
    }

    .scrollable a
    {
        font-family: Arial, sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: red;
    }*/

/* Centre alignment */
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Scrollbars - Webkit */
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #353535;
}

.border
{
    height: 500px;
    position: relative;
    margin-top: 10px;
    width: 90%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    border: 9px solid #353535;
    border-bottom-width: 8px;
    padding: 5px 5px 6px 0;
    background: #030303;
    -webkit-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
}

    .border .overlay
    {
        position: relative;
        top: 0px;
        width: 320px;
        height: 240px;
        background: black;
        opacity: 0;
        z-index: 1000;
    }

.border-message
{
    display: none;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 90%;
    color: whitesmoke;
    font-size: 2em;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    border: 9px solid #353535;
    border-bottom-width: 8px;
    background: #8A2453;
    -webkit-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
}

.iframe
{
    width: 80%;
    border: medium double whitesmoke;
    height: 170px;
    overflow: hidden;
    margin-bottom: 3px;
}



/* wordpress classes! */
.alignleft {
    float: left;
    margin: 0 10px 0 10px;
    border: 2px solid whitesmoke;
}


.alignright {
    float: right;
    margin: 0 10px 0 10px;
    border: 2px solid whitesmoke;
}

/* forms */
fieldset
{
    border: none;
    margin: auto;
    padding: 10px;
}

    fieldset legend
    {
        display: none;
    }

    fieldset ol
    {
        padding: 0;
        list-style: none;
    }

        fieldset ol li
        {
            padding-bottom: 5px;
        }

label
{
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    color: whitesmoke;
}

    label.checkbox
    {
        display: inline;
    }

input, textarea
{
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea
{
    font-family: inherit;
    width: 400px;
}

    input:focus, textarea:focus
    {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"]
{
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button
{
    color: white;
    background-color: #787878;
    border: 1px solid darkgray;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button
{
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info
{
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error
{
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success
{
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error
{
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error
{
    display: block;
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid
{
    display: none;
}

input.input-validation-error
{
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error
{
    border: 0 none;
}

.validation-summary-errors
{
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid
{
    display: none;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px)
{

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right
    {
        float: none;
    }

    /* logo */
    header .site-title
    {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login
    {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul
        {
            margin: 5px 0;
            padding: 0;
        }

        #login li
        {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a
        {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover
            {
                color: #333;
            }

    /* menu */
    nav
    {
        margin-bottom: 5px;
    }

    ul#menu
    {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li
        {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content
    {
        background-position: 10px 0;
    }

    .content-wrapper
    {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper
    {
        padding: 10px;
    }

    /* page content */
    article, aside
    {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round
    {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li
        {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine
            {
                background: none;
            }

    /* features */
    section.feature
    {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img
        {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input
    {
        width: 90%;
    }




    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right
    {
        float: none;
    }

    footer
    {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p
        {
            margin: 0;
        }
}
