.youmax-showing
{
    color: black;
    font-weight: normal;
}

.youmax-duration
{
    background-color: black;
    color: white;
    padding: 2px 3px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.8;
}

#youmax-header
{
    background-color: rgb(53,53,53);
    font: 24px Arial;
    color: white;
    line-height: 25px;
    height: 90px;
    text-align: left;
    border: 1px solid rgb(53,53,53);
}

.youmax-stat
{
    float: right;
    margin: 10px;
    font: 10px Arial;
    color: #ccc;
    margin-top: 25px;
    text-align: center;
}

#youmax-stat-holder
{
    float: right;
    height: 100%;
}

.youmax-stat-count
{
    font: 18px Arial;
}

#youmax-channel-desc
{
    text-align: left;
}

#youmax
{
    width: 640px;
    background-color: rgb(230,230,230);
    margin: 0px auto;
    font-family: Calibri;
    font-size: 14px;
    text-align: center;
    overflow-x: hidden;
}

.youmax-video-tnail
{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    position: relative;
}

.youmax-video-tnail-box
{
    width: 46%;
    margin: 2%;
    float: left;
    overflow: hidden;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    cursor: hand;
}

#youmax-encloser
{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

#youmax-video-list-div
{
    width: 100%;
    text-align: left;
    display: inline-block;
    background-color: rgb(230,230,230);
}

.youmax-video-list-title
{
    color: #438bc5;
    display: inline-block;
    padding: 2% 10px;
    padding-bottom: 0px;
    font-weight: bold;
    max-width: 250px;
    max-height: 18px;
    overflow: hidden;
}

.youmax-video-list-views
{
    color: #555;
    padding: 1% 10px;
    padding-bottom: 3%;
    display: inline-block;
    font-size: 12px;
}

.youmax-playlist-sidebar
{
    background-color: rgba(0,0,0,0.8);
    float: right;
    max-width: 50%;
    height: 100%;
    color: white;
    text-align: center;
}

.youmax-playlist-video-count
{
    display: inline-block;
    margin: 3%;
    margin-top: 5%;
    height: 20%;
}

.youmax-playlist-sidebar-video
{
    opacity: 1;
    width: 64px;
    height: 20%;
    background-color: rgb(114,114,114);
    display: inline-block;
    margin: 2% auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.youmax-tab
{
    background-color: rgb(230,230,230);
    color: #666;
    text-shadow: 0 1px 0 #fff;
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    cursor: hand;
}

#youmax-tabs
{
    text-align: left;
    background-color: rgb(230,230,230);
    padding-left: 10px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#youmax-lightbox
{
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    z-index: 2000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#youmax-video-lightbox
{
    opacity: 1;
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-button
{
    display: none;
}

::-webkit-scrollbar-track-piece
{
    background: #888;
}

::-webkit-scrollbar-thumb
{
    background: #eee;
}
